body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

:root {
  --color-white: #ffffff;
  --color-light: rgb(134, 132, 132);
  --color-main-text: #5d626a;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

/* Хедер */
.main-nav {
  background-color: rgba(0, 0, 0, 0.9);
}
.main-nav__contant {
  display: flex;
  justify-content: center;
}

.main-nav__item:not(:last-child) {
  margin-right: 100px;
}

.main-nav__link {
  color: var(--color-white);
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.container__contacts {
  display: flex;
  justify-content: center;
}

/* Герой */

.hero {
  background-image: linear-gradient(
    to right,
    #3e98cc 5%,
    #1271a6 20%,
    #0a3953 80%,
    #002236
  );

  padding: 200px 0 200px 0;
  width: 100%;
  height: 500px;
}

.main__title {
  display: block;
  width: calc(100% / 6 * 3);
  color: var(--color-white);
  font-weight: 700;
  font-size: 44px;
  line-height: 1, 36;

  margin-bottom: 0;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__text {
  color: var(--color-light);
  font-size: 18px;
}

.hero__link {
  width: 190px;
  padding: 15px 20px 15px 20px;
  border: 2px solid var(--color-light);
  border-radius: 10px;
  color: #0e1011;
  background-color: #fff;
}

.container__hero {
  display: flex;
}

.hero-contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.hero-contacts-item:nth-child(1) {
  margin-left: 210px;
}

.hero-contacts-item:nth-child(2) {
  margin-left: 210px;
}

.hero-contacts-item:nth-child(3) {
  margin-left: 210px;
}

.hero-contacts-link {
  color: var(--color-light);
}

.hero-contacts-link--mail::before {
  content: "";
  display: inline-block;
  background-image: url(../images/icon-contacts/iconmonstr-email-4.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;

  margin-right: 20px;
}

.hero-contacts-link--fax::before {
  content: "";
  display: inline-block;
  background-image: url(../images//icon-contacts/iconmonstr-printer-5.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;

  margin-right: 20px;
}

.hero-contacts-link--tel::before {
  content: "";
  display: inline-block;
  background-image: url(../images//icon-contacts/phone.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;

  margin-right: 20px;
}

/* Общая информация */
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.general__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.general__text {
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main-text);
}

/* Услугия */
.title::before {
  content: "";
  display: inline-block;

  width: 50px;
  height: 3px;
  color: var(--color-main-text);
}
