.scrolling__link {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 5px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  cursor: pointer;
}

.scrolling__icon {
  fill: var(--color-icon-accent);
  border-radius: 50%;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.scrolling__link {
  display: inline-block;
}
