.scrollup {
  position: fixed;
  z-index: 2;

  width: 35px;
  height: 35px;
  background-color: var(--color-text-contacts);
  border: none;

  right: 10px;
  bottom: 100px;

  @media screen and (min-width: 768px) {
    right: 30px;
    bottom: 150px;
    width: 45px;
    height: 45px;
  }

  @media screen and (min-width: 1280px) {
    right: 50px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    width: 40px;
  height: 40px;
  }

  padding: 8px 0;

  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  transition: transform 300ms ease-in-out;
}

.scrollup:hover {
  transform: scale(1.2);
  outline: none;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.scrollup__icon {
  fill: var(--bgc-main);
  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    width: 22px;
    height: 22px;
  }

  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }
}
