:root {
  --color-white: #ffffff;
  --color-text-footer: #99b9d8;
  --color-light: rgb(134, 132, 132);
  --color-main-text: #1f2c37;
  --color-text-contacts: #467b9b;
  --color-text-slogan: #001623;
  --color-text-title: #467b9b;
  --color-accent-dark: #002236;
  --color-accent-dark-transparent: rgba(0, 34, 54, 0.5);
  --color-accent-light: #2196f3;
  --color-icon-accent: #2196f3;
  --bgc-main: #e5edf5;
  --bgc-main-nav: #001623;
}

%title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-text-title);
}

%main-nav {
  font-style: normal;
  text-transform: uppercase;
  // font-size: 16px;
  // font-weight: 400;
  // line-height: 1.14;
  color: var(--color-white);
}

%slogan {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1;
  color: var(--color-text-slogan);
}

%contacts-desktop {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-contacts);
}

%contacts-mobile {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

%main-fonts {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--color-main-text);
}

%footer-fonts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  color: var(--color-text-footer);
}

%fonts-hero {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

%btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--color-btn);
}
