.advantages {
  background-color: var(--color-white);

  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  width: 1200px;
  margin: 0 auto;
}

.container__advantages {
  padding-left: 90px;
  padding-right: 90px;
  background-color: var(--color-white);

  border-radius: 4px;
}

.advantages__slogan {
  @extend %slogan;
}

.advantages__content {
  padding-left: 100px;
}

.advantages__item {
  color: var(--color-main-text);
  // text-transform: uppercase;
}

.advantages__icon {
  fill: var(--color-icon-accent);
  margin-right: 20px;
}
