.header-nav--mobile {
  background-color: var(--bgc-main-nav);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.container-mobile--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-nav__btn {
  @media screen and (max-width: 767.98px) {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
    background-color: transparent;
  }
}

.contacts--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-nav__icon {
  width: 30px;
  height: 30px;
  fill: var(--color-white);
  &:hover,
  &:focus {
    fill: var(--color-text-contacts);
  }
}

.contacts__link--mobile {
  @media screen and (max-width: 767.98px) {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-white);
    padding-bottom: 2px;
    padding-top: 2px;

    &:focus,
    &:hover {
      color: var(--color-text-contacts);
    }

    &:focus .contacts__icon--mobile,
    &:hover .contacts__icon--mobile {
      fill: var(--color-text-contacts);
    }
  }
}

.contacts__icon--mobile {
  @media screen and (max-width: 767.98px) {
    display: inline-block;
    object-fit: contain;
    fill: var(--color-white);
    stroke-width: 1px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 5px;
  }
}

// старое

.contacts__wrap {
  background-color: var(--color-white);
  padding-top: 47px;

  @media screen and (min-width: 768px) {
    padding-top: 53px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 58px;
  }
}

.container__contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts--desktop {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.logo--mobile {
  @media screen and (max-width: 767.98px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo-img {
  @media screen and (max-width: 767.98px) {
    width: 100px;
    height: 70px;
  }

  @media screen and (min-width: 768px) {
    width: 140px;
    height: 90px;
  }

  @media screen and (min-width: 1280px) {
    width: 160px;
    height: 100px;
  }
}

.contacts__item--desktop {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 45px;
  }
}

.contacts__icon {
  @media screen and (min-width: 768px) {
    display: inline-block;
    object-fit: contain;
    fill: var(--color-text-contacts);
    stroke-width: 2px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 5px;

    .contacts__item--desktop:hover &,
    .contacts__item--desktop:focus & {
      fill: var(--color-accent-light);
    }
  }
}

.contacts__link--header {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text-contacts);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts__item--header:hover &,
    .contacts__item--header:focus & {
      color: var(--color-accent-light);
    }
  }
}
