.hero {
  background-image: linear-gradient(
    to right,
    #3e98cc 5%,
    #1271a6 20%,
    #0a3953 80%,
    #002236
  );

  padding: 150px 0 150px 0;
  width: 100%;
  min-height: 500px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.hero__container {
  width: calc(100% / 9 * 7);
  margin: 0 auto;
}

.main__title {
  display: block;
  text-align: center;

  margin-bottom: 0;
  @extend %fonts-hero;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--bgc-main-nav);
  }
}

.hero__text {
  color: var(--bgc-main-nav);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.14;
  text-align: center;
}
