.container__price {
   text-align: justify;

  @media screen and (min-width: 768px) {
    padding-right: 90px;
    padding-left: 90px;
  }
}

.price__text {
  text-align: justify;
  text-indent: 10px;

  @media screen and (min-width: 768px) {
    text-indent: 25px;
}
}
