.conteiner__price {
  padding-right: 90px;
  padding-left: 90px;
  text-align: justify;
}

.price__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.price__item {
  display: flex;
  align-items: center;
  flex-basis: calc(100% / 2);
  padding-left: 45px;

  &::before {
    content: "";
    display: inline-flex;

    margin-right: 15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-icon-accent);
  }
}

.price__link {
  display: inline-block;
  color: var(--color-icon-accent);
}
