.services {
  background-color: var(--color-white);

  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 480px;
  margin: 0 auto;

  // @media screen and (max-width: 767.98px) {
  //   max-width: 480px;
  // }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.container__services {
  background-color: var(--color-white);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: end;
    padding-left: 90px;
    padding-right: 90px;
  }
}

.services__slogan {
  @extend %slogan;
}

.services__wrap {
  padding-bottom: 20px;
  padding-top: 20px;

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 90px) / 3);
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.services__content {
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 90px) / 3 * 2);
    margin-left: 90px;
    padding-left: 100px;
  }
}

.services__item {
  display: flex;
  align-items: center;

  color: var(--color-main-text);
  // text-transform: uppercase;
}

.services__icon {
  fill: var(--color-icon-accent);
  margin-right: 20px;
}
